html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
    font-size: 1.1em;
}

@font-face {
    font-family: mypoppins;
    src: url("./static/poppins.otf");
    
}

.harlow {
    font-family: "mypoppins`";
}

body h1 {
    text-align: center;
    font-size:100px;
}

body h3 {
    margin: 50px;
}

body h2 {
    margin-bottom: 30px;
    font-size: 50px;
}

.navbar {
    width: 100vw;
    height:50px;
    background-color: #A35638;
    position: fixed;
    z-index: 9999999999999;
    justify-content: start;
}

.navbar a {
    margin-right: 50px;
    color: bisque;
}

.sectionpage {
    min-width: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
}

.intro {
    min-width: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
}

.intro-background {
    background-image: url("../image/home.png");
}

.profil {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    margin: auto;
    background-color: #D7C79E;
}


.edu {
    min-width: 100%;
    min-height: 100vh;
    margin: auto;
    background-color: #9DAB86;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactme {
    min-width: 100%;
    min-height: 100vh;
    margin: auto;
    background-color: #E08F62;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contactme img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 30px;
}

.centered-content {
    display: block;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.centered-content p {
    text-align: center;
}

.arrow {
    max-width: 70px;
    max-height: 70px;
    object-fit: cover;
    margin: 10px;
}

.imageself {
    border-radius: 25px;
    height: 250px;
    width: auto;
    object-fit: cover;
    margin: 50px;
}

.centered-block {
    display: flex;
}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

.zeromargin p {
    margin: 0;
}

.rectangle-bio{
    border-radius: 50px;
    width:700px;
    height:100vh;
    background-color: #C3A967;
    display: flex;
    justify-content:center;
    align-items: center;
}

.translated-bio {
    transform: translate(-500px, 0);
}

.translated-bio:hover {
    transform: translate(-150px, 0);
}

.translated-bio:hover .personal-info {
    padding-right: 100px;
    text-align: right;
}

.rectangle-skills {
    border-radius: 50px;
    width:700px;
    height:100vh;
    background-color: #E08F62;
    display: flex;
    justify-content:center;
    align-items: center;
}

.translated-skills {
    transform: translate(500px, 0);
    padding: 200px;
}

.translated-skills:hover {
    transform: translate(150px, 0);
}

.translated-skills:hover .skills {
    padding-left: -200px;
}

@media only screen and (max-width: 576px) {
    body {
        font-size: 1em;
    }

    body h1 {
        font-size: 50px;
    }

    body h2 {
        font-size: 27px;
    }

    .resize img{
        width: 75px;
        height: auto;
    }

    .imageself {
        border-radius: 25px;
        height: 250px;
        width: auto;
        object-fit: cover;
        margin: 0px 0px 25px;
    }

    .rectangle-bio{
        border-radius: 50px;
        width:500px;
        height:100vh;
        background-color: #C3A967;
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .translated-bio {
        transform: translate(-475px, 0);
    }

    .translated-bio .personal-info {
        padding-right: 50px;
    }
    
    .translated-bio:hover .personal-info {
        padding-right: 10px;
        text-align: right;
    }
    
    .translated-bio:active {
        transform: translate(-200px, 0);
    }
    
    .translated-bio:active .personal-info {
        padding-right: 10px;
        text-align: right;
    }

    .hide-content {
        display:none;
    }

    .navbar a {  
        font-size: 0.75em;
        margin: 10px;
    }
}

